/* Can't style the html tag with theme-ui, so put styles in here */

html {
  height: 100%;
}
@font-face {
  font-family: SpaceGrotesk;
  src: url(../public/font/SpaceGrotesk-Regular.ttf);
}

* {
  font-family: SpaceGrotesk !important;
}
